
<h1> Random Beer </h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Low IBU </th>
      <th> High IBU </th>
      <th> Low ABV </th>
      <th> High ABV </th>
      <th> Low SRM </th>
      <th> High SRM </th>
    </tr>
  </thead>

  <tr >
    <td>{{ retrievedBeer.name }}</td>
    <td>{{ retrievedBeer["style"]["description"] }}></td>
    <td>{{ retrievedBeer["style"]["ibuMin"] }}</td>
    <td>{{ retrievedBeer["style"]["ibuMax"] }}</td>
    <td>{{ retrievedBeer["style"]["abvMin"] }}</td>
    <td>{{ retrievedBeer["style"]["abvMax"] }}</td>
    <td>{{ retrievedBeer["style"]["srmMin"] }}</td>
    <td>{{ retrievedBeer["style"]["srmMax"] }}</td>
  </tr>