<button class='btn btn-info' (click)="pressLager()">Lager</button>
<button class='btn btn-info' (click)="pressAle()">Pale Ale</button>
<button class='btn btn-info' (click)="pressAmber()">Amber Ale</button>
<button class='btn btn-info' (click)="pressBrown()">Brown Ale</button>
<button class='btn btn-info' (click)="pressStout()">Stout</button>
<button class='btn btn-info' (click)="pressPorter()">Porter</button>


<div *ngIf="paleAleButton">
<h1> Pale Ale </h1>

<table class="table table-striped" >
  <thead class="thead-light">
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Low IBU </th>
      <th> High IBU </th>
      <th> Low ABV </th>
      <th> High ABV </th>
      <th> Low SRM </th>
      <th> High SRM </th>
    </tr>
  </thead>
  <tr > 
      <td></td>
    <td>{{ searchedBeers["name"] }}</td> 
    <td>{{ searchedBeers["style"]["description"] }}</td>
    <td>{{ searchedBeers["style"]["ibuMin"] }}</td>
    <td>{{ searchedBeers["style"]["ibuMax"] }}</td>
    <td>{{ searchedBeers["style"]["abvMin"] }}</td>
    <td>{{ searchedBeers["style"]["abvMax"] }}</td>
    <td>{{ searchedBeers["style"]["srmMin"] }}</td>
    <td>{{ searchedBeers["style"]["srmMax"] }}</td>
  </tr>
</table>
</div>

<div *ngIf="lagerButton">
    <h1> Lager </h1>
    
    <table class="table table-striped" >
      <thead class="thead-light">
        <tr>
          <th> Name </th>
          <th> Description </th>
          <th> Low IBU </th>
          <th> High IBU </th>
          <th> Low ABV </th>
          <th> High ABV </th>
          <th> Low SRM </th>
          <th> High SRM </th>
        </tr>
      </thead>
      <tr > 
          <td></td>
        <td>{{ searchedBeers["name"] }}</td>
        <td>{{ searchedBeers["style"]["description"] }}</td>
        <td>{{ searchedBeers["style"]["ibuMin"] }}</td>
        <td>{{ searchedBeers["style"]["ibuMax"] }}</td>
        <td>{{ searchedBeers["style"]["abvMin"] }}</td>
        <td>{{ searchedBeers["style"]["abvMax"] }}</td>
        <td>{{ searchedBeers["style"]["srmMin"] }}</td>
        <td>{{ searchedBeers["style"]["srmMax"] }}</td>
      </tr>
    </table>
    </div>

    <div *ngIf="amberButton">
        <h1> Amber </h1>
        
        <table class="table table-striped" >
          <thead class="thead-light">
            <tr>
              <th> Name </th>
              <th> Description </th>
              <th> Low IBU </th>
              <th> High IBU </th>
              <th> Low ABV </th>
              <th> High ABV </th>
              <th> Low SRM </th>
              <th> High SRM </th>
            </tr>
          </thead>
          <tr > 
              <td></td>
            <td>{{ searchedBeers["name"] }}</td>
            <td>{{ searchedBeers["style"]["description"] }}</td>
            <td>{{ searchedBeers["style"]["ibuMin"] }}</td>
            <td>{{ searchedBeers["style"]["ibuMax"] }}</td>
            <td>{{ searchedBeers["style"]["abvMin"] }}</td>
            <td>{{ searchedBeers["style"]["abvMax"] }}</td>
            <td>{{ searchedBeers["style"]["srmMin"] }}</td>
            <td>{{ searchedBeers["style"]["srmMax"] }}</td>
          </tr>
        </table>
        </div>
        
        <div *ngIf="brownButton">
            <h1> Brown </h1>
            
            <table class="table table-striped" >
              <thead class="thead-light">
                <tr>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Low IBU </th>
                  <th> High IBU </th>
                  <th> Low ABV </th>
                  <th> High ABV </th>
                  <th> Low SRM </th>
                  <th> High SRM </th>
                </tr>
              </thead>
              <tr > 
                  <td></td>
                <td>{{ searchedBeers["name"] }}</td>
                <td>{{ searchedBeers["style"]["description"] }}</td>
                <td>{{ searchedBeers["style"]["ibuMin"] }}</td>
                <td>{{ searchedBeers["style"]["ibuMax"] }}</td>
                <td>{{ searchedBeers["style"]["abvMin"] }}</td>
                <td>{{ searchedBeers["style"]["abvMax"] }}</td>
                <td>{{ searchedBeers["style"]["srmMin"] }}</td>
                <td>{{ searchedBeers["style"]["srmMax"] }}</td>
              </tr>
            </table>
            </div>
    
            <div *ngIf="porterButton">
                <h1> Porter </h1>
                
                <table class="table table-striped" >
                  <thead class="thead-light">
                    <tr>
                      <th> Name </th>
                      <th> Description </th>
                      <th> Low IBU </th>
                      <th> High IBU </th>
                      <th> Low ABV </th>
                      <th> High ABV </th>
                      <th> Low SRM </th>
                      <th> High SRM </th>
                    </tr>
                  </thead>
                  <tr > 
                      <td></td>
                    <td>{{ searchedBeers["name"] }}</td>
                    <td>{{ searchedBeers["style"]["description"] }}</td>
                    <td>{{ searchedBeers["style"]["ibuMin"] }}</td>
                    <td>{{ searchedBeers["style"]["ibuMax"] }}</td>
                    <td>{{ searchedBeers["style"]["abvMin"] }}</td>
                    <td>{{ searchedBeers["style"]["abvMax"] }}</td>
                    <td>{{ searchedBeers["style"]["srmMin"] }}</td>
                    <td>{{ searchedBeers["style"]["srmMax"] }}</td>
                  </tr>
                </table>
                </div>

                <div *ngIf="stoutButton">
                    <h1> Stout </h1>
                    
                    <table class="table table-striped" >
                      <thead class="thead-light">
                        <tr>
                          <th> Name </th>
                          <th> Description </th>
                          <th> Low IBU </th>
                          <th> High IBU </th>
                          <th> Low ABV </th>
                          <th> High ABV </th>
                          <th> Low SRM </th>
                          <th> High SRM </th>
                        </tr>
                      </thead>
                      <tr > 
                          <td></td>
                        <td>{{ searchedBeers["name"] }}</td>
                        <td>{{ searchedBeers["style"]["description"] }}</td>
                        <td>{{ searchedBeers["style"]["ibuMin"] }}</td>
                        <td>{{ searchedBeers["style"]["ibuMax"] }}</td>
                        <td>{{ searchedBeers["style"]["abvMin"] }}</td>
                        <td>{{ searchedBeers["style"]["abvMax"] }}</td>
                        <td>{{ searchedBeers["style"]["srmMin"] }}</td>
                        <td>{{ searchedBeers["style"]["srmMax"] }}</td>
                      </tr>
                    </table>
                    </div>